.register-main h1 {
    text-align: center;
    padding: 10px;
}

.register-box {
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.298);
    border-radius: 20px;
}

.register-btn {
    border: none;
    background-color: #F85506;
    text-decoration: none;
    color: white;
    padding: 5px 24px;
    font-weight: 500;
    margin-top: 15px;
}


@media only screen and (max-width:768px){
    .register-box {
        width: 100%;
    }
}