.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
    padding-bottom: 15px;
}

.nav-brand {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #F85506;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links .nav-link{
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: black;
}

.nav-links .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: red;
    left: 0;
    bottom: -3px;
    transition: width .3s ease-in-out;
}


.nav-links .nav-link:hover::after {
    width: 100%;
}

.user-profile {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #F85506;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.user-profile img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.user-profile .profile-details {
    margin-top: 5px;
    width: 150px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.277);
    position: absolute;
    transition: .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    cursor: default;
}

.user-profile .profile-details.display {
    visibility: visible;
    opacity: 1;
}

.user-profile .profile-details .prodd-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}

.search-btn {
    border: none;
    background-color: #F85506;
    text-decoration: none;
    color: white;
    padding: 5px 18px;
    font-weight: 500;
}


@media only screen and (max-width: 991px){
    .search-form {
        margin: 0 auto;
        padding-top: 10px;
        width: 90%;
    }
    
    .user-profile .profile-details {
        right: 0;
    }
}



@media only screen and (max-width: 600px){
    .nav-links .nav-link {
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
    }

    .user-profile {
        width: 40px;
        height: 40px;
    }

    .user-profile img {
        width: 40px;
        height: 38px;
    }
}