.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
    padding-bottom: 15px;
}

.nav-brand {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #F85506;
}


.nav-links a{
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: black;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: red;
    left: 0;
    bottom: -3px;
    transition: width .3s ease-in-out;
}


.nav-links a:hover::after {
    width: 100%;
}



@media only screen and (max-width: 991px){
    .search-form {
        margin: 0 auto;
        padding-top: 10px;
        width: 90%;
    }
}



@media only screen and (max-width: 600px){
    .nav-links a {
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
    }
}